/* @font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Regular.ttf"),
        url("../fonts/RobotoCondensed-Light.ttf");
    font-weight: 300;
    font-style: normal;
} */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kristi&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700&display=swap");

@font-face {
    font-family: "Kristi";
    src: url(../fonts/Kristi-Regular.ttf);
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

:root {
    --primary: #d68408;
    --light: #f1f8ff;
    --dark: #0f172b;
}

body {
    font-family: Roboto, "Roboto Condensed";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0;
    color: #000;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.23em;
    letter-spacing: 0.09em;
}

.text-detail {
    letter-spacing: 0.09em;
    font-weight: 300;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 14px;
    color: #000 !important;
    text-transform: uppercase;
    outline: none;
    transition: 0.3s;
    letter-spacing: .23em;
    font-weight: 400;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 25px 0;
}

/* .sticky-top {
    max-height: 90px;
} */

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: fixed;
        background-color: white;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
    .navbar-dark {
        background-color: white;
        padding: 0 5%;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: relative;
        padding: 0 5%;
        background-color: white;
        /* top: 0;
        left: 0;
        z-index: 999; */
        /* background: transparent !important; */
        /* background-color: white; */
    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: white;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* ** end navbar ** */

/* cover page */
.cover-page {
    background-image: url(https://demos.pixelgrade.com/osteria/wp-content/uploads/sites/25/2017/01/gastronomika-2-13.jpg);
    background-position: 0 -128px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 50vh;
    z-index: 2;
}

.cover-page::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(8, 56, 146, 0.199);
    z-index: -1;
}
/* end cover page */

/* button arrow */
.btn-arrow {
    transition: 0.3s;
}
.btn-left {
    transform: rotate(180deg);
}
.btn-left svg {
    cursor: pointer;
}
.btn-right svg {
    cursor: pointer;
}
.btn-arrow:hover {
    background-color: rgba(77, 74, 74, 0.144);
}


/* end button arrow */

/* btn */
.btn-global {
    background-color: var(--dark);
    color: var(--light);
    transition: 0.3s;
    letter-spacing: 0.2rem;
    padding: 10px 51px;
    border: 1px solid white;
}

.btn-global:hover {
    background-color: rgb(233, 233, 233);
    color: var(--dark);
}

.btn-disabled {
    cursor: not-allowed !important;
}
/* end btn */

.line {
    width: 6em;
    border: 1px solid var(--dark);
    margin: 2em auto;
}

.footer {
    background-color: #e6dfdf77;
}

.logo-footer {
    width: 10em;
    margin-top: 8em;
    margin-bottom: 5em;
}

/*** Food Menu ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--dark);
}

.section {
    margin: 10rem auto;
}

/* back to top */
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.back-to-top svg {
    font-size: 4em;
    font-weight: 100;
    transition: all 0.3s;
    transform: rotate(-90deg);
}

.back-to-top:hover svg {
    margin-bottom: 0.1em;
}
/* end back to top */

.text-cover {
    font-family: "Kristi";
    text-transform: capitalize;
    font-size: 6em;
}

/* create image */
.default-image {
    position: relative;
    width: 12em;
    height: 12em;
    display: inline-block;
    margin: 0.3em;
}

.default-image .btn-choose-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border-color: rgb(168, 163, 163);
    padding: 2px 4px;
    font-size: 12px;
}

.default-image img {
    opacity: 0.3;
    transition: all 0.3s;
    cursor: pointer;
    height: 100%;
}

.default-image img.image-picked {
    opacity: 1;
    transition: all 0.3s;
    cursor: pointer;
}

.default-image:hover img {
    opacity: 0.1;
}

.default-image:hover .btn-choose-image {
    display: inline;
}
/* end create image */
